PORT=3000
NODE_ENV=development
MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net
MONGO_DATABASE=authentication_system

ACCESS_TOKEN_SECRET=your_super_secret_access_token_key_12345
ACCESS_TOKEN_EXPIRES_IN=15m

REFRESH_TOKEN_SECRET=your_super_secret_refresh_token_key_67890
REFRESH_TOKEN_EXPIRES_IN=7d
